
.header{
   text-align: center;
}
.header img{
   height: 80px;
   margin: 5px 0;
}
nav{
   background-color: black;
   text-align: center;
   line-height: 40px;
}
nav a{
   margin-left: 30px;
   color: white;
   text-decoration: none;
   padding: 10px;
}
nav a:hover {
   background-color: gray;
}